<h2 mat-dialog-title class="title">Konto erstellen</h2>

<form [formGroup]="signinForm" (ngSubmit)="saveUser()">
  <mat-dialog-content>
    <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DaBubble-Konto.</p>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Name und Nachname</mat-label>
      <input matInput formControlName="name" [errorStateMatcher]="matcher" />
      @if (signinForm.get('name')?.hasError('required')) {
      <mat-error>Bitte gib deinen Namen ein.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>beispielname@email.com</mat-label>
      <input matInput formControlName="email" [errorStateMatcher]="matcher" />
      @if (signinForm.get('email')?.hasError('email') &&
      !signinForm.get('email')?.hasError('required')) {
      <mat-error>Bitte gib eine gültige E-Mail-Adresse ein.</mat-error>
      } @if (signinForm.get('email')?.hasError('required')) {
      <mat-error>E-Mail ist erforderlich.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput formControlName="passwort" [errorStateMatcher]="matcher" type="password" />
      @if (signinForm.get('passwort')?.hasError('required')) {
      <mat-error>Bitte gib ein Passwort ein.</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <button mat-button type="submit" cdkFocusInitial [disabled]="!signinForm.valid">Weiter</button>
  </div>
</form>
